Repository Charcoal-SE/SmokeDetector, pull requests merged in 2022-05, with the labels that each got.

#6994 Fix Smokey being able to self-delete messages (poof/delete-force, automated self-deletion, etc.)
  chatcommunicate.py
Labels: area: commands, area: chat system

#7004 Store scan stats and add thread stats in BodyFetcher
  bodyfetcher.py
  chatcommands.py
  datahandling.py
  globalvars.py
  helpers.py
  metasmoke.py
Labels: area: commands

#7029 Enable Markdown formatting in some longer !!/watch/blacklist-number command replies
  chatcommands.py
  chatcommunicate.py
Labels: type: bug, type: feature request, area: blacklists, area: commands

#7025 Allow us to force the regex package to not implicitly cache some regexes at compile time
  findspam.py
  helpers.py
Labels: area: spamchecks

#7033 Use threading.RLock() locks for global values in chatcommunicate.py
  chatcommunicate.py
  findspam.py
  test/test_chatcommands.py
  test/test_chatcommunicate.py
  ws.py
Labels: type: bug, area: CI testing, area: chat system, area: thread safety

#7036 Add command: !!/unnotify-all-admin <user_id>
  chatcommands.py
Labels: type: feature request, area: privileges, area: commands, area: chat system
